body {
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 500;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

/* header */
header {
  display: block;
  height: 100%;
  max-height: 663px;
  background: url("../images/backgroundHeaderBakery.png") center no-repeat;
  background-size: cover;
}

.header__container {
  height: 100%;
  max-height: 663px;

  color: #fff;

  position: relative;
}

.header__bottom {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.header__line {
  height: 10px;
  width: 100%;
  min-width: 50px;
  margin: 0 auto;

  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__circle {
  border-radius: 50%;
  background-color: #fff;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
}

.header__bread {
  width: 45px;
  margin: 0 auto;
}

.header__screen {
  height: 100%;
  max-height: 800px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

.header__area {
  width: 975px;
  height: 640px;
  margin: 0 auto;
  padding: 0 160px;
}

.header__oval {
  min-width: 655px;
  border-radius: 50%;
  background: rgba(131,79,78, .7);
  height: 100%;

  display: flex;
  align-items: center;
}

.header__content {
  margin: 0 auto;
  text-align: center;
}

.header__title {
  font-size: 32px;
  font-weight: 500;
}

.header__title::after {
  content: "";
  display: block;

  height: 1px;
  width: 200px;
  margin: 35px auto;

  background-color: #fff;
}

.header__text {
  margin: 75px auto;
  font-size: 21px;

  width: 400px;
}

.header__btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 400;

  background-color: #56534C;
  border: 2px dotted #9E9C93;

  display: block;
  margin: 0 auto;
  padding: 12px 20px;
  width: 150px;
}

.header__btn:hover {
  background-color: #2E2C2A;
  transition: .1s linear;
  border: 2px dotted rgba(158,156,147, .5);
}

/* hat */
.hat {
  background-color: #56534C;
  width: 100%;
  min-width: 1349px;
  height: 70px;
  padding: 0 160px;

  color: #fff;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hat__logo {
  font-family: 'Passions Conflict', cursive;
  font-size: 20px;
}

.hat__welcome {
  text-transform: uppercase;
  font-size: 13px;
}

.hat__nav {
  padding: 0 15px;

  text-decoration: none;
  color: #fff;
}

.hat__icons {
  width: 70px;
  display: flex;
  justify-content: space-between;
}
